<div class="container-fluid px-4 pt-3 pb-5 ">
    <!-- bg-dark text-ligth long-page -->
    <div class="row">
        <div class="col-12 ">
            <h1 class="text-center">SELECCIONAR PROFESIONAL</h1>
        </div>
    </div>
    <div class="row mb-5">
        <mat-form-field>
            <!--  class="mat-input-ligth" -->
            <input class="" (keyup)="applyFilter($event)" matInput placeholder="Filter">
        </mat-form-field>
    </div>
    <div class="row">
        <app-listado-profesionales
        *ngIf="this.profesionales != undefined else loadingSpinner" [profesionales]="profesionales"
        [filterValue]="filterValue" [displayedColumns]="['nombre','apellido','especialidades','imagen']"
        (profesionalSeleccionadoEvent)="onProfesionalSeleccionado($event)"></app-listado-profesionales>
    </div>    
</div>
<ng-template #loadingSpinner>
    <div class="spinner">
        <mat-spinner color="accent"></mat-spinner>
    </div>
</ng-template>